{% extends "base.html.twig" %}

{% block title %}Авторизация{% endblock %}

{% block body %}
<div class="panel panel-success">
    <div class="panel-heading">
        <h1>Авторизация</h1>
    </div>
    <div class="panel-body">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey }}</div>
        {% endif %}
        <form action="{{ path("login") }}" method="post">
            <div class="form-group">
                <label for="username">Логин:</label>
                <input type="text" id="username" name="_username" class="form-control" value="{{ username }}">
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="_password" class="form-control" >
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Авторизация">
            </div>
        </form>
    </div>
</div>
{% endblock %}
