{% extends "base.html.twig" %}

{% block title %}Регистрация{% endblock %}

{% block body %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3>Регистрация</h3>
    </div>
    <div class="panel-body">
        {{ form(form) }}
    </div>
</div>
{% endblock %}
