{% extends "base.html.twig" %}

{% block title %}Статистика системы{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-4">Всего пользователей в системе:</div>
        <div class="col-sm-8">{{ totalUsers }}</div>
    </div>
    <div class="row">
        <div class="col-sm-4">Всего аккаунтов в системе:</div>
        <div class="col-sm-8">{{ totalAccounts }}</div>
    </div>
    <div class="row">
        <div class="col-sm-4">Всего инвайтов было создано (доступно):</div>
        <div class="col-sm-8">{{ totalInvites }} (<b>{{ totalInvites-totalUsers+1 }}</b>)</div>
    </div>
{% endblock %}
