{% extends "::base.html.twig" %}

{% block title %}AppBundle:YandexAccountController:add_list{% endblock %}

{% block body %}
<h1>Welcome to the YandexAccountController:add_list page</h1>
{% endblock %}
