<div class="head">
    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        <a href="{{ path("account_list") }}" class="btn btn-info">Аккаунты</a>
        <a href="{{ path("invite_list") }}" class="btn btn-success">Инвайты</a>
        {% if user.role == "ADMIN" %}
            <a href="{{ path('admin_info') }}">Админ панель</a>
        {% endif %}
        <div class="float-right">
            <button class="btn btn-link" disabled>{{ user.username }}</button>
            <a href="{{ logout_path() }}" class="btn btn-link">Выход</a>
        </div>
    {% else %}
        <a href="{{ path('login') }}" class="btn btn-link">Вход</a>
    {% endif %}
</div>