{% extends "base.html.twig" %}

{% block title %}Список инвайтов{% endblock %}

{% block body %}
    <div class="page-links">
        <a href="{{ path("create_invite") }}" class="btn btn-warning">Создать инвайт</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Ссылка</th>
            <th>Реферал</th>
        </tr>
        </thead>
        <tbody>
        {% for invite in invites %}
            <tr>
                <th>{{ invite.id }}</th>
                <td>
                    {% if invite.subject is null %}
                        <kbd>http://accpanel.ru/register?invite={{ invite.invite }}</kbd>
                    {% else %}
                        <kbd class="alert-danger">http://accpanel.ru/register?invite={{ invite.invite }}</kbd>
                    {% endif %}
                </td>
                <td>
                    {% if invite.subject is not null %}
                        user id: {{ invite.subject.id }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
