{% extends "base.html.twig" %}

{% block title %}Управление аккаунтом{% endblock %}

{% block body %}
    <a href="{{ path('account_list') }}" class="btn btn-link">Аккаунты</a>
    {% if account.type.text == "vk" %}
        <div class="row">
            <div class="col-sm-3 p-3">Ссылка:</div>
            <div class="col-sm-9 p-3"><a href="{{ account.link }}" target="_blank">{{ account.link }}</a></div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-3 p-3">Авторизационные данные:</div>
        <div class="col-sm-9 p-3"><kbd>{{ account.login }}:{{ account.password }}</kbd></div>
    </div>
    {% if account.type.text == "vk" %}
        <div class="row">
            <div class="col-sm-3 p-3">Кол-во друзей:</div>
            <div class="col-sm-9 p-3">{{ account.friends }}</div>
        </div>
        <div class="row">
            <div class="col-sm-3 p-3">Кол-во подписчиков:</div>
            <div class="col-sm-9 p-3">{{ account.subscribers }}</div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-3 p-3">Баланс:</div>
        <div class="col-sm-9 p-3">{{ account.balance }}</div>
    </div>
    <div class="row">
        <div class="col-sm-3 p-3">Статус:</div>
        <div class="col-sm-9 p-3">
            <button class="btn btn-{{ account.status.style }}" disabled>{{ account.status.text }}</button>
        </div>
    </div>
    {% if account.type.text == "yandex" %}
        {% for card in mc %}
            <div class="row">
                <div class="col-sm-3 p-3">Mastercard:</div>
                <div class="col-sm-9 p-3">
                    Номер карты:
                    <kbd class="mr-2">{{ card.number }}</kbd>
                    Дата:
                    <kbd class="mr-sm-2">{{ card.month }}/{{ card.year }}</kbd>
                    CVC:
                    <kbd class="mr-sm-2">{{ card.cvc }}</kbd>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-sm-3 p-3">Резервные коды:</div>
            <div class="col-sm-9 p-3">
                {% for code in reservCodes %}
                    <kbd class="mr-sm-2">{{ code.code }}</kbd>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-3 p-3">Операции:</div>
        <div class="col-sm-9 p-3">
            {% if account.type.text == "vk" %}
                <a href="{{ path("account_check", {'id': account.id}) }}" class="btn btn-info">Чекнуть</a>
            {% endif %}

            {% if account.type.text == "yandex" %}
                <div class="form-inline">
                    <div class="form-group mb-2 mr-sm-2">
                        <input type="number" class="form-control" id="newBalance">
                    </div>
                    <div class="form-group mb-2 mr-sm-2">
                        <button class="btn btn-primary" onclick="accounts.addYandexBalance({{ account.id }})">Обновить
                            баланс
                        </button>
                    </div>
                    <div class="form-group mb-2 mr-sm-2">
                        <a class="btn btn-warning" href="https://money.yandex.ru/to/{{ account.wallet }}/70"
                           target="_blank">Пополнить кошелек
                        </a>
                    </div>
                </div>
                {% if next is defined %}
                    <div class="form-inline">
                        <div class="form-group mb-2 mr-sm-2">
                            {% if prev != null %}
                                <a href="/yandex/{{ prev.id }}" class="btn btn-default"><- Предыдущий</a>
                            {% endif %}
                            {% if next != null %}
                                <a href="/yandex/{{ next.id }}" class="btn btn-default">Следующий -></a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% if account.status.id != 4 %}
                <a href="{{ path("important_account", {'id': account.id}) }}" class="btn btn-warning">Важный</a>
            {% else %}
                <a href="{{ path("not_important_account", {'id': account.id}) }}" class="btn btn-dark">Не важный</a>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/accounts.js') }}"></script>
{% endblock %}
