{% extends "base.html.twig" %}

{% block title %}Управление аккаунтами{% endblock %}

{% block body %}
    <div class="page-links">
        <a href="{{ path("add_new_account") }}" class="btn btn-primary">Добавить аккаунт</a>
        <a href="{{ path("add_accounts") }}" class="btn btn-primary">Добавить несколько</a>
        {#<a href="{{ path("check_all_accounts") }}" class="btn btn-primary">Чекнуть все аккаунты</a>#}
    </div>
    {% if error is not null %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Аватар</th>
            <th>Логин</th>
            <th>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ currentType }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/accounts">Все типы</a>
                        <a class="dropdown-item" href="/accounts?type=1">Vk</a>
                        <a class="dropdown-item" href="/accounts?type=5">Apple</a>
                        <a class="dropdown-item" href="/accounts?type=3">Yandex</a>
                    </div>
                </div>
            </th>
            <th>Страна</th>
            <th>Кол-во друзей</th>
            <th>Баланс</th>
            <th>Статус</th>
            <th>Управление</th>
        </tr>
        </thead>
        <tbody>
        {% for account in accountsActive %}
            <tr>
                <th scope="row">
                    <a href="{{ path("account_page", {'id': account.id}) }}">{{ account.id }}</a>
                </th>
                <td>
                    {% if account.avatar is not null %}
                        <img src="{{ account.avatar }}" class="account-avatar">
                    {% endif %}
                </td>
                <td>
                    {% if account.link|length > 0 %}
                    <a href="{{ account.link }}" target="_blank">
                        {% endif %}
                        ********{{ account.login[8:] }}
                        {% if account.link|length > 0 %}
                    </a>
                    {% endif %}
                </td>
                <td>
                    <div class="account-type"
                         style="background: #{{ account.type.color }}; color: #{{ account.type.fontColor }}">
                        {{ account.type.text }}
                    </div>
                </td>
                <td>{{ account.country }}</td>
                <td>
                    {% if account.status.id == 2 or account.status.id == 5 or account.status.id == 7 %}
                        —
                    {% else %}
                        {{ account.friends }}
                    {% endif %}
                </td>
                <td>
                    {% if account.status.id == 2 or account.status.id == 5 or account.status.id == 7 %}
                        —
                    {% else %}
                        {{ account.balance }}
                    {% endif %}
                </td>
                <td>
                    <button class="btn btn-{{ account.status.style }}" disabled>{{ account.status.text }}</button>
                </td>
                <td>
                    {% if account.type.text == "vk" %}
                        <a href="{{ path("account_check", {'id': account.id}) }}" class="btn btn-info">Чекнуть</a>
                    {% endif %}

                    {% if account.status.id != 4 %}
                        <a href="{{ path("important_account", {'id': account.id}) }}" class="btn btn-warning">Важный</a>
                    {% else %}
                        <a href="{{ path("not_important_account", {'id': account.id}) }}" class="btn btn-dark">Не
                            важный</a>
                    {% endif %}
                    <a href="{{ path("sold_account", {'id': account.id}) }}" class="btn btn-success">Продан</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if accountsNotActive|length > 0 %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Логин</th>
                <th>Тип</th>
                <th>Страна</th>
                <th>Кол-во друзей</th>
                <th>Статус</th>
                <th>Управление</th>
            </tr>
            </thead>
            <tbody>
            {% for account in accountsNotActive %}
                <tr>
                    <th scope="row">
                        <a href="/accounts/{{ account.id }}">{{ account.id }}</a>
                    </th>
                    <td>
                        {% if account.link|length > 0 %}
                        <a href="{{ account.link }}">
                            {% endif %}
                            {{ account.login }}
                            {% if account.link|length > 0 %}
                        </a>
                        {% endif %}
                    </td>
                    <td>
                        <div class="account-type"
                             style="background: #{{ account.type.color }}; color: #{{ account.type.fontColor }}">
                            {{ account.type.text }}
                        </div>
                    </td>
                    <td>{{ account.country }}</td>
                    <td>{{ account.friends }}</td>
                    <td>
                        <button class="btn btn-{{ account.status.style }}" disabled>{{ account.status.text }}</button>
                    </td>
                    <td>
                        <a href="{{ path('delete_account', {"id": account.id}) }}" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
