{% extends "base.html.twig" %}

{% block title %}Добавление нового аккаунта{% endblock %}

{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>Добавление нового аккаунта</h3>
        </div>
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
