{% extends "base.html.twig" %}

{% block title %}Добавление списка аккаунтов{% endblock %}

{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>Добавление аккаунтов</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-info">
                Доступные разделители: <kbd>:</kbd> <kbd>;</kbd> <kbd>,</kbd> <kbd>tab</kbd><br>
                Формат ввода: <kbd>Логин:Пароль</kbd><br>
                Работает только для <kbd><s>ВКонтакте</s>Yandex!!!</kbd><br>
                Работает в тестовом режиме! (без сохранения в базу данных)
            </div>
            <div class="form-group">
                <select id="selectedSystem" class="form-control" onchange="accounts.updateSelectedSystem()">
                    <option value="vk" selected>VK</option>
                    <option value="yandex">Yandex</option>
                    <option value="apple">Apple.com</option>
                    <option value="awy">ОБъединить Apple и Yandex</option>
                </select>
            </div>
            <div class="form-group">
                <div class="progress progress-in-input">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                         style="width: 0;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <textarea id="" cols="30" rows="10" class="form-control no-outline no-bg"></textarea>
            </div>
            <div class="form-group" id="balanceWrapper">
                <input type="number" class="form-control" id="balance">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="offset-sm-10 col-sm-2 text-right">
                        <button class="btn btn-primary" onclick="accounts.upload();">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/accounts.js') }}"></script>
    <script>
        accounts.updateSelectedSystem();
    </script>
{% endblock %}
