#alertContainer {
    position: fixed;
    right: 0;
    top: 0;
}

.head {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 15px 0;
}

.footer {
    border-top: 1px solid #ccc;
    margin-top: 15px;
    padding: 15px 0;
}

.account-type {
    font-size: 11px;
    padding: 5px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    cursor: default;
}

.account-avatar {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.page-links {
    margin-bottom: 10px;
}

.no-outline:hover, .no-outline:active, .no-outline:focus {
    outline: none !important;
    outline-offset: 0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.progress-in-input {
    display: none;
    height: 3px;
    margin-bottom: -3px;
}

.no-bg {
    background: none !important;
}

#balanceWrapper {
    display: none;
}