{% extends "::base.html.twig" %}

{% block title %}AppBundle:MastercardAccountController:add_list{% endblock %}

{% block body %}
<h1>Welcome to the MastercardAccountController:add_list page</h1>
{% endblock %}
