{% extends "::base.html.twig" %}

{% block title %}AppBundle:MastercardAccountController:add{% endblock %}

{% block body %}
<h1>Welcome to the MastercardAccountController:add page</h1>
{% endblock %}
