{% extends "::base.html.twig" %}

{% block title %}AppBundle:MastercardAccountController:delete{% endblock %}

{% block body %}
<h1>Welcome to the MastercardAccountController:delete page</h1>
{% endblock %}
