{% extends "::base.html.twig" %}

{% block title %}AppBundle:MailRuAccountController:add_list{% endblock %}

{% block body %}
<h1>Welcome to the MailRuAccountController:add_list page</h1>
{% endblock %}
