{% extends "::base.html.twig" %}

{% block title %}AppBundle:AppleAccountController:add_list{% endblock %}

{% block body %}
<h1>Welcome to the AppleAccountController:add_list page</h1>
{% endblock %}
